## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>


1. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
2. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
3. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
4. O arquivo da base de dados não deve ser alterado.

## Base de dados

Nessa avaliação será utilizado a base de dados referente ao desempenho dos alunos do Instituto Metropole Digital em disciplinas do núcleo comum do curso de Bacharelado em Tecnologia da Informação. As informações sobre os alunos e disciplinas estão codificadas a fim de manter o anonimato e privacidade dos dados. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [16]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

['Notas']

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
1,0,59015430,2014,1,CANCELADO,2015,1,8.0,0,Aprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0

## a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quais as colunas da base de dados?
2. (0.5 pontos)Quais colunas apresentam valores nulos (faltantes)? Em caso afirmativo, quantas linhas de cada coluna apresentam valores nulos?
3. (0.5 pontos) Quantos CEPs diferentes estão presentes na base de dados?
4. (0.4 pontos) Quantos alunos foram registrados?
5. (0.2 pontos) Qual o período em anos dos registros presentes na base de dados?
6. (0.2 ponto) Quantas disciplinas foram analisadas?

Questão 1 -  Início

In [5]:
colunas = dados.columns
colunas

Index(['a_ID', 'CEP', 'ano_ingresso', 'periodo_ingresso', 'status',
       'ano_disciplina', 'periodo_disciplina', 'nota', 'disciplina_ID',
       'status.disciplina', 'enen-nota'],
      dtype='object')

Questão 1 - Fim

In [7]:
#2
dados.isnull().sum()

a_ID                    0
CEP                     0
ano_ingresso            0
periodo_ingresso        0
status                  0
ano_disciplina          0
periodo_disciplina      0
nota                    0
disciplina_ID           0
status.disciplina       0
enen-nota             289
dtype: int64

In [10]:
#3
len(set(dados["CEP"]))

627

In [11]:
#4
len(set(dados["a_ID"]))

900

In [14]:
#5
set(dados["ano_disciplina"])

{2014, 2015, 2016, 2017}

In [13]:
#6
len(set(dados["disciplina_ID"]))

7

## b) (2.0 pontos) Investigando a localização dos alunos


1. (2.0 pontos) Listar a quantidade total de alunos presentes nos cinco CEPs com mais registros.

<dica - consultar as funções duplicated() e value_counts()

In [ ]:
dados[~dados.a_ID.duplicated()].CEP.value_counts()[0:5].sum()#Elimina os dados duplicados e conta os CEPs

In [20]:
#Cinco CEPS com mais registros
CEPS = dados["CEP"].value_counts()[0:5]

0           289
59290000    109
59570000     86
59280000     66
59550000     53
Name: CEP, dtype: int64

In [26]:
#Verifica valores que apareçem mais de uma vez
originais = ~dados["a_ID"].duplicated()
originais

0        True
1       False
2        True
3        True
4        True
5       False
6        True
7       False
8        True
9        True
10      False
11      False
12       True
13       True
14      False
15       True
16      False
17      False
18       True
19      False
20       True
21       True
22      False
23       True
24      False
25       True
26      False
27      False
28       True
29       True
        ...
4812    False
4813    False
4814    False
4815    False
4816    False
4817    False
4818    False
4819    False
4820    False
4821    False
4822    False
4823    False
4824    False
4825    False
4826    False
4827    False
4828    False
4829    False
4830    False
4831    False
4832    False
4833    False
4834    False
4835    False
4836    False
4837    False
4838    False
4839    False
4840    False
4841    False
Name: a_ID, Length: 4842, dtype: bool

In [30]:
dados[originais].CEP.value_counts()[0:5].sum()

141

## c) (6.0 pontos) Investigando o desempenho das disciplinas

1. (1 ponto) Calcular as notas médias para cada disciplina.
2. (1,5 pontos) Calcular as notas médias para cada disciplina agrupadas por ano.
3. (2,0 pontos) Calcular o número de alunos aprovados e reprovados por disciplina e agrupados por ano.
4. (1,5 pontos) Calcular a quantidade de alunos classificados de acordo com a coluna status da base de dados.

In [33]:
import numpy as np

In [34]:
#1
dados.pivot_table(index="disciplina_ID",values="nota",aggfunc=np.mean)

                   nota
disciplina_ID
0              4.618657
1              6.539691
2              4.713848
3              3.488725
4              5.431602
5              3.171392
6              4.067869

In [35]:
#2
dados.pivot_table(index=["ano_disciplina","disciplina_ID"],values="nota",aggfunc=np.mean)

                                  nota
ano_disciplina disciplina_ID
2014           0              4.504027
               1              6.039713
               2              5.595745
               3              3.472826
               4              6.034228
               5              3.705263
               6              5.665323
2015           0              4.812931
               1              7.123105
               2              5.892720
               3              3.944318
               4              6.102899
               5              3.752669
               6              4.080435
2016           0              4.521799
               1              6.409059
               2              3.423706
               3              3.200366
               4              5.555806
               5              2.402115
               6              3.336496
2017           1              0.000000
               4              2.562338

In [40]:
#3
dados.pivot_table(index=["ano_disciplina","disciplina_ID","status.disciplina"],values="nota",aggfunc="count")

                                                nota
ano_disciplina disciplina_ID status.disciplina
2014           0             Aprovado             76
                             Reprovado            73
               1             Aprovado            174
                             Reprovado            35
               2             Aprovado            141
                             Reprovado            47
               3             Aprovado             36
                             Reprovado            56
               4             Aprovado            135
                             Reprovado            14
               5             Aprovado             66
                             Reprovado           105
               6             Aprovado             91
                             Reprovado            33
2015           0             Aprovado            127
                             Reprovado           105
               1             Aprovado            248
                             Reprovado            29
               2             Aprovado            214
                             Reprovado            47
               3             Aprovado             76
                             Reprovado           100
               4             Aprovado            122
                             Reprovado            16
               5             Aprovado            116
                             Reprovado           165
               6             Aprovado             93
                             Reprovado            91
2016           0             Aprovado            146
                             Reprovado           143
               1             Aprovado            245
                             Reprovado            42
               2             Aprovado            138
                             Reprovado           229
               3             Aprovado             95
                             Reprovado           178
               4             Aprovado            252
                             Reprovado            58
               5             Aprovado             78
                             Reprovado           253
               6             Aprovado             95
                             Reprovado           179
2017           1             Reprovado             3
               4             Aprovado              2
                             Reprovado            75

In [45]:
#4
alunos = ~dados.a_ID.duplicated()

In [46]:
dados[alunos].pivot_table(index=["status"], values="nota",aggfunc="count")

           nota
status
ATIVO       586
CANCELADO   244
CONCLUIDO     8
FORMADO       2
FORMANDO      9
TRANCADO     51